@import '../../assets/sass/variables.scss';

.series-event {
  border: 1px solid $colors-text;
  border-top: none;
  padding: 0.5em;

  .series-event-name {
    margin-bottom: 0.5em;
  }

  .param-field {
    display: flex;
    margin-bottom: 0.5em;

    .param-name {
      margin-right: 0.5em;
    }
  }
}